body {
	font-family: 'Mate', serif;
	padding: 10%;
	font-size: 18px;
	line-height: 32px;
	width: 65%;
	margin: 0 auto;
	margin-top: 150px;
}

article {
	font-size: 18px;
	line-height: 28px;
	width: 65%;
	margin: 0 auto;
	margin-top: 150px;
}

abbr, num {
	font-family: 'Mate SC', serif;
}

abbr {
	letter-spacing: 0.1em;
	margin-right: -0.1em;
}